---
import MainLayout from "../layouts/MainLayout.astro";
import tailwind from "../styles/tailwind.css";
import Button from "../components/Button.astro";
import Button2 from "../components/Button2.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SingleUseSucks</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header></header>

    <MainLayout title="SingleUseSucks">
      <main>
        <!-- Hero Unit Section -->

        <section
          class="w-full h-screen bg-[url('/hero.jpg')] bg-cover bg-center"
        >
          <div
            class="container mx-auto h-full flex items-center justify-center"
          >
            <h1 class="text-8xl font-bold text-pink-700 protest-guerrilla-regular">#SingleUseSucks</h1>
          </div>
        </section>

        <div class="relative h-200 -mt-100 z-10 pointer-events-none">
          <div
            class="absolute inset-0 bg-gradient-to-b from-transparent via-[#020f14] to-[#0a365b]"
          >
          </div>
        </div>
        <section class="bg-[url('/body.jpg')] bg-cover bg-center bg-no-repeat">
          <!-- Section 1 -->

          <section class="hero grid lg:grid-cols-8 gap-8"> 
            <div class="col-span-8"> 
              <div class="grid grid-cols-12 grid-rows-12 max-h-[90vh] overflow-hidden"> 
                <div class="col-start-1 col-span-12 row-start-1 row-span-12  ">
                </div> 
                <div class="col-start-5 col-span-5 row-start-4 row-span-1 text-white"> 
                <h2 class="text-4xl text-pink-700 poppins-semibold">Hvad er plastikforurening?</h2>
                  <p class="text-1xl text-pink-700 poppins-regular pt-5">Plastikforurening er et alvorligt miljøproblem, hvor plastikaffald ender i naturen, især i havene. Hvert år havner millioner af ton plastik i verdenshavene, hvor det skader havlivet og økosystemerne. 
                    Plastik nedbrydes meget langsomt og bliver til mikroplast, som fisk og havdyr kan forveksle med føde. Dette fører til sundhedsproblemer for dyrene og kan også påvirke mennesker gennem fødekæden. 
                    Store plastiksamlinger, såsom Stillehavets plastiksuppe, viser omfanget af problemet. Løsninger inkluderer bedre affaldshåndtering, genbrug og reduktion af engangsplastik for at beskytte havmiljøet.</p>
                </div> 
                <div class="col-start-1 col-span-5 row-start-4 row-span-1"> 
                  <img src="../../koral.svg" alt="dato" loading="lazy" decoding="async"> 
                </div> 
                <div class="col-start-1 col-span-7 row-start-1 row-span-8"> 
                  <img src="../../plasticbottle.svg" alt="dato" width="610" height="612" loading="lazy" decoding="async" class="animate__animated animate__swing animate__infinite animate__slower"> 
                </div> 
                <div class="col-start-10 col-span-2 row-start-8 row-span-1"> 
                  <img src="../../plasticbottle2.svg" alt="Tekst" width="711" height="348" loading="lazy" decoding="async" class=""> 
                </div> 
                <div class="col-start-10 col-span-1 row-start-7 row-span-1"> 
                  <img src="../../bubble.svg" alt="Tekst" width="711" height="348" loading="lazy" decoding="async" class=""> 
                </div> 
                <div class="col-start-12 col-span-3 row-start-2 row-span-3"> 
                  <img src="../../koral1.svg" alt="Tekst" width="711" height="348" loading="lazy" decoding="async" class=""> 
            </section> 

          <!-- Section 2 -->
          <section class="hero grid lg:grid-cols-8 gap-8"> 
            <div class="col-span-8"> 
              <div class="grid grid-cols-12 grid-rows-12 max-h-[90vh] overflow-hidden"> 
                <div class="col-start-1 col-span-12 row-start-1 row-span-12  ">
                </div> 
                <div class="col-start-5 col-span-5 row-start-4 row-span-1 text-white"> 
                <h2 class="text-4xl text-pink-700 poppins-semibold">Hvad er problemet med plastikforurening?</h2>
                  <p class="text-1xl text-pink-700 poppins-regular pt-5">Plastikforurening i havet skader dyreliv, ødelægger økosystemer og forurener fødekæden med mikroplast og skadelige kemikalier. Havdyr risikerer kvælning eller forgiftning, og plastikken forsvinder ikke, men ophobes i årtier. Uden handling truer det både natur og menneskers sundhed.</p>
                </div> 
                <div class="col-start-1 col-span-5 row-start-4 row-span-1"> 
                  <img src="../../koral.svg" alt="dato" loading="lazy" decoding="async"> 
                </div> 
                <div class="col-start-1 col-span-7 row-start-1 row-span-8"> 
                  <img src="../../plasticbottle.svg" alt="dato" width="610" height="612" loading="lazy" decoding="async" class="animate__animated animate__swing animate__infinite animate__slower"> 
                </div> 
                <div class="col-start-8 col-span-5 row-start-1 row-span-4"> 
                  <img src="../../plasticbag.svg" alt="Tekst" width="711" height="348" loading="lazy" decoding="async" class=""> 
                </div> 
                <div class="col-start-12 col-span-3 row-start-2 row-span-3"> 
                  <img src="../../koral1.svg" alt="Tekst" width="711" height="348" loading="lazy" decoding="async" class=""> 
                  </div>
                  <div class="col-start-10 col-span-2 row-start-6 row-span-1"> 
                    <img src="../../fish2.svg" alt="Tekst" width="711" height="348" loading="lazy" decoding="async" class="animate__animated animate__swing animate__infinite animate__slower"> 
                  </div> 
            </section> 

          <!-- Section 3 -->
          <section class="hero grid lg:grid-cols-8 gap-8"> 
            <div class="col-span-8"> 
              <div class="grid grid-cols-12 grid-rows-12 max-h-[90vh] overflow-hidden"> 
                <div class="col-start-1 col-span-12 row-start-1 row-span-12  ">
                </div> 
                <div class="col-start-5 col-span-5 row-start-4 row-span-1 text-white"> 
                <h2 class="text-4xl text-pink-700 poppins-semibold">Hvad kan vi gøre?</h2>
                  <p class="text-1xl text-pink-700 poppins-regular pt-5">Brug genanvendelige alternativer, undgå unødig plastik, sortér affald og støt bæredygtige valg. Små ændringer gør en stor forskel.</p>
                </div> 
                <div class="col-start-1 col-span-5 row-start-3 row-span-1"> 
                  <img src="../../koral3.svg" alt="dato" loading="lazy" decoding="async"> 
                </div> 
                <div class="col-start-1 col-span-7 row-start-1 row-span-8"> 
                  <img src="../../plasticbottle.svg" alt="dato" width="610" height="612" loading="lazy" decoding="async" class="animate__animated animate__swing animate__infinite animate__slower"> 
                </div> 
                <div class="col-start-5 col-span-2 row-start-8 row-span-8"> 
                  <img src="../../fish4.svg" alt="dato" width="610" height="612" loading="lazy" decoding="async" class=""> 
                </div> 
                <div class="col-start-10 col-span-3 row-start-8 row-span-2"> 
                  <img src="../../hand.svg" alt="Tekst" width="711" height="348" loading="lazy" decoding="async" class=""> 
                </div> 
                <div class="col-start-11 col-span-6 row-start-1 row-span-3"> 
                  <img src="../../koral4.svg" alt="Tekst" width="711" height="348" loading="lazy" decoding="async" class=""> 
                  </div>
                  <div class="col-start-10 col-span-2 row-start-3 row-span-1"> 
                    <img src="../../metalbottle.svg" alt="Tekst" width="711" height="348" loading="lazy" decoding="async" class=""> 
                  </div> 
            </section> 

          <!-- Section 4 -->
          <section class="hero grid lg:grid-cols-8 gap-8"> 
            <div class="col-span-8"> 
              <div class="grid grid-cols-12 grid-rows-12 max-h-[90vh] overflow-hidden"> 
                <div class="col-start-1 col-span-12 row-start-1 row-span-12  ">
                </div> 
                <div class="col-start-7 col-span-4 row-start-4 row-span-1 text-white"> 
                  <img src="../../graf.svg" alt="dato" loading="lazy" decoding="async"> 
                </div> 
                <div class="col-start-1 col-span-5 row-start-4 row-span-1"> 
                  <img src="../../koral.svg" alt="dato" loading="lazy" decoding="async"> 
                </div> 
                <div class="col-start-1 col-span-7 row-start-1 row-span-8"> 
                  <img src="../../plasticbottle.svg" alt="dato" width="610" height="612" loading="lazy" decoding="async" class="animate__animated animate__swing animate__infinite animate__slower"> 
                </div> 
                <div class="col-start-11 col-span-6 row-start-1 row-span-3"> 
                  <img src="../../koral4.svg" alt="Tekst" width="711" height="348" loading="lazy" decoding="async" class=""> 
                  </div>
            </section> 

          <!-- Section 5 -->
          <section class="hero grid lg:grid-cols-8 gap-8"> 
            <div class="col-span-8"> 
              <div class="grid grid-cols-12 grid-rows-12 max-h-[90vh] overflow-hidden"> 
                <div class="col-start-1 col-span-12 row-start-1 row-span-12  ">
                </div> 
                <div class="col-start-4 col-span-4 row-start-1 row-span-1"> 
                  <img src="../../plasticbag.svg" alt="dato" width="610" height="612" loading="lazy" decoding="async" class=""> 
                </div> 
                <div class="col-start-1 col-span-4 row-start-7 row-span-1"> 
                  <img src="../../trash.svg" alt="dato" loading="lazy" decoding="async"> 
                </div> 
                <div class="col-start-3 col-span-2 row-start-1 row-span-8"> 
                  <img src="../../plasticbottle.svg" alt="dato" width="610" height="612" loading="lazy" decoding="async" class="animate__animated animate__swing animate__infinite animate__slower"> 
                </div> 
                <div class="col-start-9 col-span-4 row-start-2 row-span-5"> 
                  <img src="../../koral5.svg" alt="Tekst" width="711" height="348" loading="lazy" decoding="async" class=""> 
                  </div>
            </section> 



        </section>
        <div class="relative h-200 -mt-100 z-10 pointer-events-none">
          <div
            class="absolute inset-0 bg-gradient-to-b from-transparent via-[#076183] to-[#011c2f]"
          >
          </div>
        </div>
        <section class="bg-[url('/bund.jpg')] bg-cover bg-center bg-no-repeat">
          <!-- Section 6 -->
          
          <section class="hero grid lg:grid-cols-8 gap-8"> 
            <div class="col-span-8"> 
              <div class="grid grid-cols-12 grid-rows-12 max-h-[90vh] overflow-hidden"> 
                <div class="col-start-1 col-span-12 row-start-1 row-span-12  ">
                </div> 
                <div class="col-start-5 col-span-5 row-start-4 row-span-1 text-white"> 
                <h2 class="text-4xl text-pink-700 poppins-semibold">Hvad gør Plastic Change?</h2>
                  <p class="text-1xl text-pink-700 poppins-regular pt-5">Hvis vi vil knække plastikkurven, så må vi mindske udledningen af plastik i stedet for at satse på at rydde op i havene. Løsningerne findes både i form af politisk handling (f.eks. lovgivning om bestemte typer og produkter af plastik), handling fra industrien (f.eks. ved at skabe plastikprodukter, der lettere kan genbruges og genanvendes, og altså ikke er lavet af flere forskellige typer plastik), og via formidling, hvor vi fortæller forbrugerne om plastikforurening og dets konsekvenser, og hvad man selv kan gøre for at mindske plastikforurening.</p>
                </div> 
                <div class="col-start-1 col-span-5 row-start-3 row-span-1"> 
                  <img src="../../koral.svg" alt="dato" loading="lazy" decoding="async"> 
                </div> 
                <div class="col-start-10 col-span-1 row-start-6 row-span-2"> 
                  <img src="../../bubble.svg" alt="Tekst" width="711" height="348" loading="lazy" decoding="async" class=""> 
                </div> 
                <div class="col-start-9 col-span-4 row-start-8 row-span-2"> 
                  <img src="../../fish3.svg" alt="Tekst" width="711" height="348" loading="lazy" decoding="async" class=""> 
                </div> 
                <div class="col-start-11 col-span-6 row-start-1 row-span-3"> 
                  <img src="../../koral4.svg" alt="Tekst" width="711" height="348" loading="lazy" decoding="async" class=""> 
                  </div> 
            </section> 

          <!-- Section 7 -->
          <section class="mt-10">
            <article class="flex justify-center items-center min-h-screen px-4">
              <div class="prose prose-lg max-w-md md:max-w-2xl">
                <h3 class="text-5xl font-bold text-white">Section 7</h3>
              </div>
            </article>
          </section>
        </section>
      </main>
      </MainLayout>
      </body>
</html>
