---
import Button2 from "./Button2.astro";
---

<div class="p-8 max-w-xl mx-auto bg-darkblue shadow-lg rounded-lg">
  <h2 class="flex justify-center text-2xl text-plasticpink poppins-semibold mb-6">
    Tilmeld dig vores nyhedsbrev
  </h2>

  <form>
    <!-- Fornavn og Etternavn -->
    <div class="mb-6 flex gap-4">
      <div class="w-full">
        <label
          for="first-name"
          class="block text-sm poppins-medium text-eggs mb-2"
        >
          Fornavn
        </label>
        <input
          id="first-name"
          type="text"
          name="first-name"
          placeholder="Indtast fornavn"
          class="w-full p-4 border poppins-regular border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-plasticpink"
          required
        />
      </div>
      <div class="w-full">
        <label
          for="last-name"
          class="block text-sm poppins-medium text-eggs mb-2"
        >
          Efternavn
        </label>
        <input
          id="last-name"
          type="text"
          name="last-name"
          placeholder="Indtast efternavn"
          class="w-full p-4 border poppins-regular border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-plasticpink"
          required
        />
      </div>
    </div>

    <!-- E-mail input -->
    <div class="mb-6">
      <label for="email" class="block text-sm poppins-medium text-eggs mb-2">
        E-mail
      </label>
      <input
        id="email"
        type="email"
        name="email"
        placeholder="Indtast din e-mail"
        class="w-full p-4 border poppins-regular border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-plasticpink"
        required
      />
    </div>

    <!-- Checkbox -->
    <div class="mb-6 flex items-center">
      <input
        id="newsletter-checkbox"
        type="checkbox"
        name="newsletter"
        class="h-5 w-5 text-[#EB3858] border-gray-300 rounded-full focus:ring-2 focus:ring-plasticpink"
        required
      />
      <label for="newsletter-checkbox" class="text-eggs ml-2 text-xs poppins-extralight">
        Jeg giver mit samtykke til, at Plastic Change må opbevare og behandle mine oplysninger til brug i forbindelse med min støtte. Læs mere om dette samtykke i vores privatlivspolitik.
      </label>
    </div>

    <!-- Submit Button -->
     <Button2 variant="secondary", size="medium">Tilmeld nyhedsbrev</Button2>
  </form>
</div>
