---
import Button2 from "../components/Button2.astro";
import Link from "../components/Link.astro";
---

<section class="bg-darkblue grid grid-cols-5 p-10 text-white poppins-regular text-sm">
    <div>
        <Button2 variant="primary", size="medium" class="pb-6">Plastic Change</Button2>
        <p class="pt-6">Mail.</p>
        <Link href="#" variant="primary" size="large">info@plasticchange.org</Link>
        <p>Tlf.</p>
        <Link href="#" variant="primary" size="large"> +45 42 66 72 46</Link>
        <p>Telefontid. Mandag – Fredag, 10:00 – 15:00</p>
        <p class="poppins-extralight text-xs pt-4">Website af <span class="text-platicpink">Savage Studio</span></p>
        <p class="poppins-thin text-xs pt-4">© 2025 Plastic Change</p>
    </div>
    <div>
        <p class="poppins-medium pb-3">Om os</p>
      <Link href="#" variant="secondary" size="large">Forening Plastic Change</Link>
      <Link href="#" variant="secondary" size="large">Sådan arbejder vi</Link>
      <Link href="#" variant="secondary" size="large">Regnskab & vedtægter</Link>
      <Link href="#" variant="secondary" size="large">Presse</Link>
      <Link href="#" variant="secondary" size="large">Kontakt os</Link>
    </div>
    <div>
<p class="poppins-medium pb-3"> Støt vores arbejde</p>
       <Link href="#" variant="secondary" size="large">Giv et bidrag</Link>
       <Link href="#" variant="secondary" size="large">Bliv medlem</Link>
       <Link href="#" variant="secondary" size="large">Lav et testamente</Link>
       <Link href="#" variant="secondary" size="large">Støt som virksomhed</Link>
    </div>
    <div>
        <p class="poppins-medium pb-3">Praktisk information</p>
       <p>CVR. 35778985</p>
       <p>Konto. 8411 0002039618</p>
<p>MobilePay. 304961</p>
<p>SWIFT. FAELDKK1</p>
<p>IBAN. DK3584110002039618</p>
<Link href="#" variant="secondary" size="large">Privatlivspolitik</Link>
<Link href="#" variant="secondary" size="large">Betalingspolitik</Link>
    </div>
    <div>
        <a href="">Facebook</a>
        <a href="">X</a>
        <a href="">Linkedin</a>
        <a href="">YouTube</a>
        <a href="">Instagram</a>
    </div>
    </section>