---
import Link from "../components/Link.astro";
import Button2 from "../components/Button2.astro";
---

<div x-data="{ showmenu: false}" class="p-4 lg:static w-full bg-darkblue">
    <div id="navbar" class="flex flex-row justify-between">
        <div id="logo" class="">
            <a href="#">
                <Button2 variant="primary" , size="medium"
                    >plastic change</Button2
                >
            </a>
        </div>
        <nav id="desktopmenu" class="hidden lg:block">
            <ul class="flex flex-row gap-8">
                <li class="text-center py-2 border-y-2">
                    <Link href="#section1" variant="secondary" size="large"
                        >Hvad er plastikforurening?</Link
                    >
                </li>
                <li class="text-center py-2 border-y-2">
                    <Link href="#section2" variant="secondary" size="large"
                        >Hvad er problemet med plastikforurening?</Link
                    >
                </li>
                <li class="text-center py-2 border-y-2">
                    <Link href="#section3" variant="secondary" size="large"
                        >Hvad kan vi gøre?</Link
                    >
                </li>
                <li class="text-center py-2 border-y-2">
                    <Link href="#section4" variant="secondary" size="large"
                        >Vidste du at?</Link
                    >
                </li>
                <li class="text-center py-2 border-y-2">
                    <Link href="#section5" variant="secondary" size="large"
                        >Hvad gør plastic change?</Link
                    >
                </li>
            </ul>
        </nav>
        <button
            id="burgermenu"
            class="lg:hidden text-2xl relative inline-block text-plasticpink after:block after:w-0 after:h-[2px] after:bg-babyblue after:transition-all after:duration-300 hover:after:w-full"
            x-on:click="showmenu = ! showmenu">Menu</button
        >
    </div>
    <nav
        id="mobilmenu"
        class="flex flex-col content-center pt-4"
        x-show="showmenu"
        x-transition
        x-on:click="showmenu = false"
        x-on:click.outside="showmenu = false"
    >
        <ul>
            <li class="text-center py-2 border-y-2">
                <Link href="#section1" variant="secondary" size="large"
                    >Hvad er plastikforurening?</Link
                >
            </li>
            <li class="text-center py-2 border-y-2">
                <Link href="#section2" variant="secondary" size="large"
                    >Hvad er problemet med plastikforurening?</Link
                >
            </li>
            <li class="text-center py-2 border-y-2">
                <Link href="#section3" variant="secondary" size="large"
                    >Hvad kan vi gøre?</Link
                >
            </li>
            <li class="text-center py-2 border-y-2">
                <Link href="#section4" variant="secondary" size="large"
                    >Vidste du at?</Link
                >
            </li>
            <li class="text-center py-2 border-y-2">
                <Link href="#section5" variant="secondary" size="large"
                    >Hvad gør plastic change</Link
                >
            </li>
        </ul>
    </nav>
</div>
