---
const { href = "#", target = "_self", variant = "primary", size = "medium" } = Astro.props;

const linkStyling = "duration-1000";

const variantClasses = {
    "textlink": "underline text-blue-800",
    "primary": "relative inline-block poppins-regular text-plasticpink after:block after:w-0 after:h-[2px] after:bg-plasticpink after:transition-all after:duration-300 hover:after:w-full",
    "secondary": "relative inline-block poppins-regular text-white after:block after:w-0 after:h-[2px] after:bg-plasticpink after:transition-all after:duration-300 hover:after:w-full"
};

const sizeClasses = {
    "standard": "hover:font-bold",
    "large": "text-sm font-bold",
    "medium": "text-lg hover:-skew-x-20",
    "small": "text-md hover:-skew-x-20"
};
---

<a href={href} target={target} class:list={[linkStyling, variantClasses[variant], sizeClasses[size]]}>
    <slot />
</a>
